// Header

header
	div
		background-image: url(/assets/noise.png)
		background-color: #FFAA00
		border-radius: 10px
		padding: 2px
		a
			text-decoration: none
			font-family: futura
			color: white
			padding: 5px
	nav
		text-align: right
		padding-right: 10px
	
	li 
		display: inline-block
		border-radius: 10px
		background-color: #E39700
		padding: 2px
		a
			text-decoration: none
			font-family: futura
			color: white

.logo
	margin-left: 10px
	float: left
	padding-top: 15px
	font-weight: bold

footer
	padding-top: 10px
	div
		border-top: solid
		border-color: #FFAA00
		p 
			font-weight: bold

// Body

body
	text-align: center