// Header

$headred: #D10000
$headdarkred: #B30000
$background: #e4e6e5

header
	div
		// background: url(/assets/noise.png)
		background-image: image-url("noise.png")
		background-color: $headred
		border-radius: 10px
		padding: 2px
		a
			text-decoration: none
			font-family: futura
			color: white
			padding: 5px
	nav
		text-align: right
		padding-right: 10px

	li
		display: inline-block
		border-radius: 10px
		background-color: $headdarkred
		padding: 2px
		a
			text-decoration: none
			font-family: futura
			color: white

.logo
	margin-left: 10px
	float: left
	padding-top: 15px
	font-weight: bold

footer
	padding-top: 10px
	div
		border-top: solid
		border-color: $headred
		p
			font-weight: bold

// Body

body
	text-align: center
	// background: url(/assets/bg.png)
	background-image: image-url("bg.png")
	background-color: $background

.notice
	background-color: #85FF5C
	border-radius: 10px
	width: 200px
	margin: auto

.alert
	background-color: #FAFF5C
	border-radius: 10px
	width: 200px
	margin: auto